img {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.center_items {
  display: grid;
  place-items: center;
}
.invalid-border-color {
  border-color: var(--form-element-invalid-border-color);
}
a {
  color: var(--primary);
}

a:hover svg {
  opacity: 0.8;
}
.Toastify__close-button {
  width: fit-content;
}

.Toastify__toast-body p {
  margin: 0;
}
